{% extends "menu.html" %}
{% block head %}var orders= {{ orders|safe }}
console.log("orders="+orders){% endblock %}

{% block content %}{% raw %}
    <div id='main' class='row'>
        <div v-cloak id="order_table" class = 'col col-sm-9'>
        <table class='table table-striped table-bordered'>
            <thead class='thead-dark text-center'>
            <tr>
                    <th>#</th>
                    <th>заказ</th>
                    <th>сумма товаров</th>
                    <th>полная сумма</th>
                    <th>статус оплаты</th>
                    <th>статус заказа</th>
                    <th>№ отгрузки</th>
                    <th>№ возврата</th>                
             </tr>



        </thead>
            <tr v-for="or in orders">
                <td><input type='checkbox' v-model="or.checked"></td>
                <!--td><img class="rounded float-left" src="if(or.shop=='TM')/static/pics/TPsmall.jpg">{{or.order_id}}</td-->
                <td><img class="rounded float-left" :src="getImgSrc(or)">{{or.order_id}}</td>
                <td>{{or.total}}</td>
                <td>{{or.text}}</td>

                <td v-bind:style="{color:getPayedStatus(or.payed).color}">{{getPayedStatus(or.payed).text}}</td>
                <td>{{or.status}}</td>
                <td>{{or.dem}}</td>
                <td >{{or.ret}}</td>
                <td style="visibility:hidden">{{update}}</td>
            </tr>
        <tfoot class='text-center'>
            <tr>
                <td>Кол-во</td>
               <td>{{orders.length}}</td>
            </tr>
        </tfoot>
        </table>

        
        
        <div>
            <input v-model="order_id" v-on:keypress.enter="getOrder">
        <button v-on:click="getOrder" id='add' type="button" class='btn btn-default'>добавить</button>
        <button v-on:click="deleteOrder" type="button" class='btn btn-default'>удалить</button>
        <button v-on:click="resetOrders" type="button" class='btn btn-default'>очистить</button>

                  
                
            </div>

            <div class='col col-sm-3'>
                <h3 style='color:red'>Информация:</h3>
                <span v-html="info"></span>
                </div>
    </div>
    </div>


{% endraw %}{% endblock %}
{% block scripts %}<script src="{{url_for('static',filename='js/return.js')}}"></script>{% endblock %}
